/*? GENERAL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 2px dashed #000;
  outline-offset: 3px;
}

body {
  font-family: "Arial", sans-serif;
}

/** CONTAINER */
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/** BUTTON */
.button {
  display: block;
  padding: 4px 12px;
  border-radius: 0;
  background-color: rgb(148, 236, 85);
  font-size: 25px;
  border: 1px solid #000;
  white-space: nowrap;
  margin-top: auto;
}

/* HEADER */
.header {
  padding: 20px 0;
  display: flex;
  align-items: center;
  gap: 2px;
  white-space: nowrap;
  border-bottom: 1px solid #000;
}

.header__title {
  font-family: "Noto Sans", sans-serif;
}

/* FUEL */
.fuel {
  margin-bottom: 50px;
}

.fuel__container {
  display: flex;
  margin-top: 100px;
}

.fuel__price-text {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.fuel__warn-text {
  color: orange;
  font-size: 19px;
  font-weight: 500;
  text-align: center;
  display: flex;
  align-items: center;
}

/* FORM */
.form {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.form__fields {
  width: 100%;
  display: flex;
  gap: 10px;
  max-height: 50px;
  margin-bottom: 20px;
}

.form__field {
  padding: 4px 8px;
  font-size: 25px;
  text-align: center;
  border-radius: 0;
  border: 1px solid #000;
  flex-grow: 1;
}

/* TABLE */
.table-wrappwer {
  flex-grow: 1;
}

table {
  width: 100%;
}

caption {
  margin-bottom: 15px;
}

table,
th,
tr,
td {
  font-size: 22px;
  border: 2px solid #000;
  border-collapse: collapse;
}

table thead {
  font-weight: 600;
}

table th {
  padding: 10px 15px;
  background-color: bisque;
}

table td {
  padding: 10px 15px;
  font-family: "Noto Sans", sans-serif;
  text-align: center;
}

/* TABLE FUEL ROWS */
.ai80 {
  background-color: #e1e1e1;
}

.ai92 {
  background-color: #d7d7d7;
}

.ai95 {
  background-color: #cdcdcd;
}

.dizel {
  background-color: #c3c3c3;
}

.disabled-row {
  opacity: 0.8;
  background-color: #807979;
  color: #444;
  text-decoration: line-through;
}

.total-row {
  background-color: crimson;
  color: #fff;
}

/*! MEDIA QUERIES */
@media only screen and (max-width: 1024px) {
  .fuel__container {
    flex-direction: column;
  }

  .form {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .form__fields {
    width: 100%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .table-wrappwer {
    width: 100%;
    overflow-x: auto;
  }

  .form__fields {
    flex-direction: column;
    margin-bottom: 50px;
  }
}