/*? GENERAL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 2px dashed #000;
  outline-offset: 3px;
}

/** CONTAINER */
.container {
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

/** BUTTON */
.button {
  padding: 4px 12px;
  border-radius: 0;
  background-color: rgb(148, 236, 85);
  font-size: 25px;
  border: 1px solid #000;
  white-space: nowrap;
  margin-top: auto;
}

/* HEADER */
.header {
  padding: 20px 0;
}

.header__title {
  font-family: "Noto Sans", sans-serif;
}

/* FUEL */
.fuel__container {
  display: flex;
  margin-top: 100px;
}

/* FORM */
.form {
  display: flex;
  flex-direction: column;
}

.form:not(:last-child) {
  margin-right: 20px;
}

.form__fields {
  max-width: 60%;
  width: 100%;
  display: flex;
  gap: 10px;
  max-height: 50px;
  margin-bottom: 20px;
}

.form__field {
  padding: 4px 8px;
  font-size: 25px;
  text-align: center;
  border-radius: 0;
  border: 1px solid #000;
  flex-grow: 1;
}

.form__price-text {
  font-size: 30px;
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  text-align: center;
  display: flex;
  align-items: center;
  font-family: "Arimo", sans-serif;
}

/* TABLE */
.table {
  width: 100%;
}

.table,
th,
tr,
td {
  font-size: 22px;
  border: 2px solid #000;
  border-collapse: collapse;
}

.table thead {
  font-weight: 600;
}

.table th {
  font-family: "Arimo", sans-serif;
  padding: 10px 15px;
  background-color: bisque;
}

.table td {
  padding: 10px 15px;
  font-family: "Noto Sans", sans-serif;
  text-align: center;
}

/* TABLE FUEL ROWS */
.ai80 {
  background-color: rgb(225, 225, 225);
}

.ai92 {
  background-color: rgb(215, 215, 215);
}

.ai95 {
  background-color: rgb(205, 205, 205);
}

.dizel {
  background-color: rgb(195, 195, 195);
}
